body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c24141;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #b60080;
    text-align: center;
    margin-top: 20px;
}

html {
    scroll-behavior: smooth;
}